.footer-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-inline h1 {
    font-size: 18px;
    color: white;
}

footer {
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, rgb(75, 2, 2), rgb(0, 0, 0));
    margin: 0 auto;
    z-index: 100;

    p {
    font-size: 28px; 
    color: white;
}
}

.more-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

/* #region Load More Button */
button[data-id="load-more-button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-weight: 700;
    font-size: 28px;
    transition: 
    transform 0.3s,
    box-shadow 0.3s,
    border-color 0.3s;
    border: 2px solid #3b4cca;
    color: #ffcc00;
    border-radius: 10px;
    cursor: pointer;
}

button[data-id="load-more-button"]:hover {
    background: #3b4cca8f;
    box-shadow: 0 0 14px whitesmoke;
}

button[data-id="load-more-button"]:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
/* #endregion */