/* #region Responsive 900px */
@media (max-width: 900px) {
    header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    }

    .header-inline {
        width: 100%;
    }

    .header-inline img {
        width: 180px;
        height: 80px;
    }

    .header-inline h1 {
        display: none;
    }
}
/* #endregion */

/* #region Responsive 640px to 899px */
@media (min-width: 640px) and (max-width: 899px) {
    main {
        gap: 14px;
        padding: 20px;
    }

    button[data-id="card"] {
        width: calc(25% - 11px);
    }

    button[data-id="card"] img {
        width: 120px;
        height: 120px;
    }
}
/* #endregion */

/* #region Responsive 480px to 639px */
@media (min-width: 480px) and (max-width: 639px) {
    main {
        gap: 12px;
        padding: 12px;
    }

    button[data-id="card"] {
        width: calc(33.333% - 8px);
    }

    button[data-id="card"] img {
        width: 100px;
        height: 100px;
    }
}
/* #endregion */

/* #region Responsive 379px */
@media (max-width: 379px) {
    .header-inline {
        flex-direction: column;
        align-items: stretch;
    }

    .header-inline input {
        width: 100%;
    }

    .header-inline button {
        width: 100%;
    }
}
/* #endregion */

/* #region Responsive 378px */
@media (max-width: 378px) {
    main {
        gap: 8px;
        padding: 8px;
    }

    button[data-id="card"] {
        width: 100%;
    }

    button[data-id="card"] img {
        width: 160px;
        height: 160px;
    }
}
/* #endregion */

/* #region Responsive 375px to 479px */
@media (min-width: 375px) and (max-width: 479px) {
    main {
        gap: 10px;
        padding: 10px;
    }

    button[data-id="card"] {
        width: calc(50% - 5px);
    }

    button[data-id="card"] h2 {
        padding-top: 20px;
    }

    button[data-id="card"] img {
        width: 120px;
        height: 120px;
    }

    .types .type {
        font-size: 16px;
    }
}
/* #endregion */

/* #region Responsive 320px to 374px */
@media (min-width: 320px)and (max-width: 374px){
    button[data-id="card"] {
        width: 216px;
        height: 296px;
    }

    button[data-id="card"] span{
        font-size: 20px;
    }

    button[data-id="card"] h2 {
        padding-top: 20px;
        font-size: 22px;
    }
    
    button[data-id="card"] img {
        width: 110px;
        height: 110px;
    }

    .types .type {
        gap: 14px;
        font-size: 16px;
    }
    
    .footer-inline p {
        font-size: 14px;
    }
}
/* #endregion */


