* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
    color: white;
    font-family: "Nunito";
}

.main-content {
    width: 100%;
    max-width: 1920px;
    padding: 0 max(calc(50% - 720px), 16px);
    display: flex;
    align-items: center;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/nunito-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    min-width: 100dvh;
}

/* .content {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    padding: 0 max(calc(50% - 720px), 16px);
    display: flex;
    align-items: center;
} */